doctype html
html(lang="en")
  head
    title= title
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="/bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    block css

  body
    block content
    
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    block js
