doctype html
html(lang="en")
  head
    title= title
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="/bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="/css/style.css", rel='stylesheet')

  body
              button#logout.glyphicon.glyphicon-log-out Logout
            li
              a(href='#')
                span.glyphicon.glyphicon-menu-hamburger
    .container
      h3 You are logged in!
      h6 Check out the bar on the top right to change your profile
    
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/loginPage.js')
